[Unit]
Description=parkomat-agent
After=network.target

[Service]
Type=idle
Restart=always
RestartSec=5
WorkingDirectory=/opt/parkomat-agent
ExecStart=/usr/bin/screen -DmS parkomat-agent /usr/bin/python3 /opt/parkomat-agent/main.py

[Install]
WantedBy=multi-user.target
